head
  title= site.title
  link(href= path + "/styl/style.css", rel="stylesheet")
  script(src= "//use.typekit.net/qnf5iux.js")
  script
    try{Typekit.load();}catch(e){}
  script(src= path + "/js/script.js")
