header#header
    #logo k88hudson
    nav
      ul
        li: a(href="/", class="home") Home
        li: a(href="/posts", class="posts").active Posts
        li: a(href="/post/" + site.latestPost.id, class="latest-post" ) Latest Post
