extends ../layout

block content
  h1 Create a Ticket
  form(action="/api/create", method="GET")
    fieldset
      label Title
      input(type="text", name="title", placeholder="Title")
    fieldset
      label Body
      textarea(name="body", placeholder="body")
    fieldset
      input(type="submit", value="Create Ticket")
