header#header
    #logo k88hudson on design and code
    nav
      ul
        li: a(href="/", class="home") Home
        //- li: a(href="/about") Me
        //- li: a(href="/work") Work
        li: a(href="/posts", class="posts").active Posts
        li: a(href="/post/" + site.latestPost.id, class="latest-post" ) Latest Post
