extends ../layout

block content
  #home
    for post in posts
      .post
        .meta
          .date= post.date
          h3: a(href="/post/" + post.id)= post.title
          .summary= post.summary
