// Typographic scale
scaleType( size ) {
  baseSize = 16px;
  baseLineHeight = 24px;

  excess = size % baseLineHeight;

  font-size: size;
  line-height: ceiling( size / baseLineHeight );
  padding-top: baseLineHeight * 0.75;
  padding-bottom: baseLineHeight * 0.25;
}

/*********************************************************
* Prefixing
*/

vendor( prop, args, vendors = "w m o ms" )
  if match( "w", vendors )
    -webkit-{prop}: args;
  if match( "m(?!s)", vendors )
    -moz-{prop}: args;
  if match( "o", vendors )
    -o-{prop}: args;
  if match( "ms", vendors )
    -ms-{prop}: args;
  {prop}: args

transition( args = all 0.3s ease )
  vendor( transition, args )

box-sizing( args )
  // https://developer.mozilla.org/En/CSS/Box-sizing
  // Opera uses unprefixed version
  vendor( box-sizing, args, "w m ms" )


// Gradients **************************************************

linear-gradient( stylargs )
  background: -moz-linear-gradient( args )
  background: -webkit-linear-gradient( args )
  background: -o-linear-gradient( args )
  background: linear-graident( args )

/*********************************************************
* Grid
*/ 

totalWidth = 1120px
gridMargin = 20px
gridDivisions = 12
gridUnit = ( ( totalWidth - ( gridMargin * ( gridDivisions - 1 ) ) )  / gridDivisions )

grid( n )
  return ( gridUnit * n ) + ( gridMargin * ( n - 1 ) )

/*********************************************************
* Other Useful Functions
*/

clearfix()
  *zoom: 1
  &:before, 
  &:after
    content: ""
    display: table
  &:after
    clear: both
